# do not publish user content
user.php
user/*

# do not ignore the gitkeep files
!user/cache/.gitkeep
!user/config/.gitkeep
!user/content/.gitkeep
!user/handlers/.gitkeep
!user/plugins/.gitkeep
!user/themes/.gitkeep
!user/uploads/.gitkeep

# do not care about custom-provided web files
favicon.ico
robots.txt
sitemap.xml

# do not publish macOS blergh
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
